// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  background-color: #FFF;
  font-family: 'Ubuntu', sans-serif;
  padding: 12vw 4vw 23vw;
  position: relative;
  min-height: 100vh;
}

a, a:hover, a:active{
  color: inherit;
  text-decoration: none;
}

.nav{
  display: flex;
  background-color: #FFFFFF;
  position: fixed;
  width: 100vw;
  padding: 1.5vw 5vw 1.5vw 6vw;
  top: 0;
  left: 0;
  z-index: 2;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.shadow{
  box-shadow: 0 1px 30px #000000AA;
  transition: box-shadow, 1s;
}

.main-title{
  background-image: -webkit-linear-gradient(-60deg,#5B71EB,#5EFFDC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Rancho', cursive;
  font-weight: 700;
  font-size: 4.25vw;
}

footer{
  width: 100vw;
  text-align: center;
  color: #FFFFFF;
  background-image: -webkit-linear-gradient(-45deg,#5B71EB,#5FCFE3);
  padding: 6vw 20vw;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1.1vw;
}

.posts{
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: stretch;
}

.nav-items{
  display: flex;
  position: fixed;
  right: 5vw;
  top: 3vw;
  font-size: 1.8vw;
  color: #2E2F30;
  font-family: 'Mate SC', serif;
  z-index: 3;
}

.nav-item{
  display: inline;
  margin: auto 1.5vw;
}

.nav-item:hover, .nav-item:focus, .nav-item:active{
  color: #5B71EB;
}

.nav-item:last-child:hover, .nav-item:last-child:focus, .nav-item:last-child:active{
  color: #5FCFE3;
}

.nav-item:last-child{
  color: #5B71EB;
}

.date{
  color: #1DB9C3AA;
  font-size: 1vw;
  margin-bottom: 0;
}

.index-about{
  font-family: "Mate SC", serif;
  text-align: center;
  margin: -2vw 0 3vw;
}

.index-post{
  margin: 2.5vw;
  border-radius: 15px;
  position: relative;
  width: 25vw;
  background-color: #F6F6F6;
  padding: 1vw 2vw;
}

.index-title{
  color: #5B71EB;
  margin: 0.6vw 0 0.3vw;
  font-family: 'Mate SC', serif;
  font-size: 1.8vw;
}

.index-user{
  font-size: 1.1vw;
  margin: 0.5vw 0 0.8vw;
  color: #96BAFF;
}

.index-body{
  color: #686D76;
  text-align: justify;

  margin-bottom: 5vw;
}

.read-btn{
  border: none;
  background-color: #85EEFC;
  padding: 7px 16px;
  color: #000;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  bottom: 2vw;
  left: 2vw;
  font-family: 'Klee One', cursive;
  opacity: 0.6;
}

.index-post:nth-child(2n) .read-btn{
  background-color: #80ED99;
}

.index-post:nth-child(3n) .read-btn{
  background-color: #5B71EBBB;
}

.read-btn:hover{
  opacity: 1.0;
}

.post-title{
  text-align: center;
  color: #5B71EB;
  font-family: "Mate SC", serif;
  margin: 3vw auto;
}

.post-body{
  white-space: pre-wrap;
  word-break: break-word;
  margin: 4vw 13vw 1vw;
  font-size: 1.3vw;
}

.about{
  margin: auto 20vw;
  text-align: justify;
  font-size: 1.3vw;
  color: #686D76;
}

.about-title{
  color: #5B71EB;
  text-align: center;
  font-family: "Mate SC", serif;
  margin-bottom: 3vw;
}

.post-body a, .about a{
  color: #96BAFF;
}

.post-body p{
  margin: -12px 0;
}

.post-body a:hover, .about a:hover{
  color: #5B71EB;
}

.congrats{
  margin: 4vw 0 1vw;
  text-align: center;
  font-style: italic;
}

.the-post{
  position: relative;
}

.bg-img1, .bg-img2, .bg-img3, .bg-img4{
  height: 12.5vw;
  width: 12.5vw;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-img1{
  background-image: url("bg-img1.png");
  top: 3%;
  left: -1.5vw;
}

.bg-img2{
  background-image: url("bg-img2.png");
  top: 25%;
  right: -1.5vw;
}

.bg-img3{
  background-image: url("bg-img3.png");
  bottom: 25%;
  left: -1.5vw;
}

.bg-img4{
  background-image: url("bg-img4.png");
  bottom: 3%;
  right: -1.5vw;
}

.author{
  text-align: right;
  margin: 3vw 13vw 10vw;
}

.author-name{
  color: #5FCFE3;
}

.author-date{
  color: #5B71EB;
}

.edit-post{
  color: #96BAFF;
  margin: 0 13vw;
  display: inline-block;
  font-size: 1.3vw;
}

.edit-post:hover{
  color: #5B71EB;
}

.form{
  font-size: 1.3vw;
  position: relative;
  margin: 3vw 10vw 5vw;
}

.field_with_errors{
  margin-bottom: 0;
}

.title-input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #5FCFE3;
  font-weight: 400;
  width: 60%;
  margin-bottom: 6vw;
  color: #5B71EB;
  font-size: 1.8vw;
  text-align: center;
  font-family: 'Mate SC', serif;
}

.body-input{
  border: 1px solid #AAA;
  border-radius: 10px;
  width: 100%;
  height: 80vh;
  background-image: url("paper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3vw 4vw;
  font-size: 1.2vw;
  text-align: justify;
  font-weight: 300;
}

.title-input:focus, .body-input:focus{
  outline: none;
}

.error{
  color: #5B71EB;
  font-size: 1.2vw;
  margin: 1.2vw 0 2vw;
  font-family: 'Special Elite', cursive;
}

.form-error{
  margin-top: -2.5vw;
}

.colored-btn{
  border-radius: 10px;
  font-size: 1.5vw;
  padding: 0.5vw 1.2vw;
  background-color: #FFFFFF;
  border: 2px solid #2E2F30;
  color: #5B71EB;
  font-family: 'Klee One', cursive;
  font-weight: 700;
}

.form-btn{
  position: absolute;
  top: -1vw;
  right: 1.4vw;
}

.colored-btn:focus, .colored-btn:active, .colored-btn:hover{
  background-image: -webkit-linear-gradient(-45deg,#5B71EB,#5FCFE3);
  color: #2E2F30;
  border: 1px solid #2E2F30;
}

.icons{
  position: absolute;
  top: 1.5vw;
  right: 2vw;
  color: #5B71EBAA;
}

.icon{
  margin: 0 0.2vw;
  font-size: 1.4vw;
}

.icon:hover{
  color: #5B71EB;
}

.comment-section{
  margin: 5vw 13vw;
}

.comments{
  margin: 5vw 0 2vw;
  color: #5FCFE3;
  font-family: "Mate SC", serif;
}

.commenter{
  color: #5B71EB;
  font-weight: 700;
  font-size: 1.4vw;
}

.comment{
  text-align: justify;
  margin-bottom: 2.5vw;
  color: #686D76;
}

.cmnt-title{
  font-size: 1.2vw;
  margin-top: 1vw;
  width: 28%;
}

.single-cmnt{
  position: relative;
}

.delete-cmnt{
  position: absolute;
  top: 0;
  right: 0;
  color: #96BAFF;
}

.delete-cmnt:hover{
  color: #5B71EB;
}

.cmnt-body{
  height: 18vw;
  font-weight: 300;
}

.cmnt-form{
  position: relative;
}

.cmnt-btn{
  position: absolute;
  margin-top: 2vw;
  bottom: 4vw;
  right: 3vw;
  border-color: #C4C4C4;
}

table{
  margin: auto;
  font-size: 1.5vw;
}

td, th{
  border: 2px solid #5B71EB;
}

th{
  text-align: center;
  padding: 1vw 5vw;
  font-family: 'Klee One', cursive;
  font-weight: 700;
  color: #5B71EB;
}

td{
  padding: 2vw 5vw;
}

.sign-in-input{
  margin-bottom: 3vw;
  width: 30vw;
  font-size: 1.3vw;
  font-weight: 300;
  padding: 0.5vw 1vw;
  border: 2px solid inherit;
}

.sign-in-input:focus{
  outline: none;
}

.sign-in-form .label{
  font-weight: 200;
}

table{
  margin-bottom: 6vw;
  box-shadow: 0 0 20px #686D76;
}

.switch{
  border-color: #5FCFE3;
  color: #5FCFE3;
}

.center-btn{
  text-align: center;
}

.sign-up-btn{
  border-color: #2E2F30;
  background-image: -webkit-linear-gradient(-45deg,#5B71EB,#5FCFE3);
  color: #F6F6F6;
  margin-bottom: 2vw;
  border-width: 1px;
}

.sign-up-btn:hover, .sign-up-btn:active, .sign-up-btn:focus{
  color: #2E2F30;
}

.profile{
  margin-bottom: 5vw;
}

.image-box{
  text-align: center;
}

.circles{
  display: inline-block;
  position: relative;
}

.profile-image{
  border-radius: 50%;
  height: 18vw;
  width: 18vw;
  border: 7px solid transparent;
}

.gradient-circle{
  position: absolute;
  border-radius: 50%;
  height: 18vw;
  width: 18vw;
  background: -webkit-linear-gradient(-45deg,#5B71EB,#5FCFE3) ;
  left: 0;
  top: 0;
  z-index: -1;
}

.details-box{
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.profile-name{
  color: #5B71EB;
  font-family: 'Balsamiq Sans', cursive;
  margin-bottom: 3vw;
}

.profile-email{
  color: #5FCFE3;
  font-family: 'Nixie One', cursive;
}

.users-heading{
  color: #5B71EB;
  font-family: "Mate SC", serif;
  text-align: center;
  margin-bottom: 4vw;
}

.users-card-box{
  display: flex;
  flex-flow: row wrap;
  margin: 0 7vw 4vw;
}

.user-card{
  margin: 3vw 3.25vw;
  border-radius: 20px;
  background: #F6F6F6;
  width: 19vw;
}

.user-image{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 19vw;
  height: 19vw;
}

.user-name{
  margin: 1vw 1.5vw 0.5vw;
  font-family: 'Balsamiq Sans', cursive;
  color: #5B71EB;
  font-size: 1.35vw;
}

.joined-date{
  margin-left: 1.5vw;
  color: #5FCFE3;
  font-size: 1.1vw;
  font-weight: 300;
}

.recent{
  font-family: "Mate SC", serif;
  text-align: center;
  margin: 9vw auto 4vw;
}

.profile-icons{
  color: #5B71EB88;
  text-align: right;
  margin-right: 7vw;
}

.profile-edit{
  border:none;
  border-bottom: 1px solid #686D76;
  color: #5B71EB;
  font-family: 'Balsamiq Sans', cursive;
}

.profile-edit:focus{
  outline: none;
}

.pop-up{
  background: #96BAFF;
  padding: 0.5vw;
  border-radius: 10px;
  position: absolute;
  opacity: 0.8;
  top: 110%;
  visibility: hidden;
  transition: visibility;
}

.circles:hover .pop-up{
  visibility: visible;
}

nav{
  margin-top: 3vw;
}

nav .pagination{
  justify-content: center;
}

.page-link{
  color: #5B71EB;
}

.page-item.active .page-link{
  background-color: #96BAFF;
  border: none;
}

.pagination .active{
  z-index: 0;
}

.crown{
  position: absolute;
  width: 7vw;
  height: 7vw;
  transform: rotate(315deg);
  top: -3vw;
  left: -3vw;
}

@media only screen and (max-width: 640px){
  body{
    padding-top: 6.5rem;
    padding-bottom: 8rem;
  }

  .nav{
    overflow-x: hidden;
    padding: 0.5vh 7vw;
  }

  .main-title{
    font-size: 2.7rem;
    margin-top: 10px;
  }

  .nav-items{
    top: 0;
    right: -100%;
    flex-direction: column;
    font-size: 2.5vh;
    z-index: 100;
    height: 100vh;
    justify-content: left;
    background: -webkit-linear-gradient(-45deg,#5B71EB,#5FCFE3);
    padding: 10vh 20vw;
    transition: rigth, 0.2s;
  }

  .move{
    right: 0;
  }

  .nav-item{
    margin: 1vh auto;
    color: #F6F6F6;
  }

  .nav-item:last-child{
    color: #2E2F30;
  }

  .sandwich, .sandwich2{
    position: fixed;
    top: 1.8rem;
    right: 10vw;
    z-index: 98;
  }

  .sandwich2{
    top: 0.6rem;
    z-index: 101;
    font-weight: 700;
    font-size: 150%;
    display: none;
  }

  .bread{
    height: 3px;
    width: 5vw;
    background: black;
    margin: 3px 0;
    border-radius: 10px;
  }

  .cross{
    display: block;
    font-family: 'Klee One', cursive;
  }

  footer{
    font-size: 75%;
    padding: 10vw;
  }

  .posts{
    justify-content: center;
  }

  .index-post{
    width: 75vw;
    padding: 5% 0;
    background-color: #FFF;
    margin-bottom: 8%;
  }

  .date, .index-body, .author, .comment{
    font-size: 60%;
  }

  .icons{
    width: 20%;
    display: flex;
    justify-content: right;
    top: 15%;
    right: 3%;
  }

  .icon{
    font-size: 120%;
    margin-left: 4vw;
  }

  .index-title{
    font-size: 125%;
  }

  .index-user{
    font-size: 65%;
  }

  .index-body{
    margin-bottom: 10%;
  }

  .read-btn{
    font-size: 90%;
    bottom: 0;
    left: 0;
  }

  nav{
    margin: 10% auto 20%;
    font-size: 85%;
  }

  .post-body{
    margin: auto 10vw;
  }

  .post-title{
    font-size: 110%;
    margin-bottom: 5vh;
  }

  .edit-post{
    font-size: 90%;
    margin: auto 5vh;
  }

  .author{
    margin-right: 5vh;
  }

  .comment-section{
    margin-left: 5vh;
  }

  .comments{
    font-size: 70%;
    margin-top: 11%;
  }

  .commenter{
    margin-top: 10%;
    font-size: 70%;
    font-weight: 400;
  }

  .delete-cmnt{
    right: -3vw;
  }

  .cmnt-btn{
    right: 0;
    font-size: 80%;
    bottom: 33%;
    border-radius: 5px;
    border-width: 1px;
  }

  .screen{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    width:100vw;
    background-color: #2E2F3099;
    z-index: 99;
  }

  .about{
    margin: 0 10vw 30vh;
  }

  .about p{
    font-size: 150%;
  }

  .congrats{
    margin-top: 10vw;
  }

  .title-input{
    font-size: 1.2rem;
    border-width: 0.1vw;
    width: 50vw;
  }

  .error{
    font-size: 0.7rem;
    margin-bottom: 1.5vh;
  }

  .form-btn{
    border-width: 0.1vw;
    border-radius: 5px;
    top: 0.8vw;
    right: 0;
    font-size: 0.9rem;
  }

  .body-input{
    font-size: 1rem;
    height: 60vh;
  }

  .cmnt-body{
    font-size: 75%;
    width: 105%;
    margin: 3% 0 6%;
    height: 30vw;
  }

  .users-heading{
    font-size: 120%;
  }

  .users-card-box{
    margin: 5vw 3vw 10vw;
    justify-content: center;
  }

  .user-card{
    width: 40vw;
    border-radius: 10px;
    margin: 5vw 6.3vw;
  }

  .user-image{
    height: 40vw;
    width: 40vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .user-name{
    font-size: 90%;
    margin: 1.5vw 2.5vw;
  }

  .joined-date{
    font-size: 70%;
    margin: 0 2.5vw 3vw;
  }

  .sign-in{
    font-size: 3rem;
  }

  table{
    margin: 12vh auto;
    width: 75vw;
  }

  th,td{
    font-size: 1.2rem;
    border-width: 1px;
  }

  th{
    padding: 3vw 2vw;
  }


  td{
    padding: 3vw 7vw;
  }

  .label{
    margin-bottom: 0;
    font-size: 80%;
  }

  .sign-in-input{
    width: 100%;
    font-size: 80%;
  }

  .sign-up-btn{
    font-size: 80%;
    border-width: 1px;
    border-radius: 10px;
    font-weight: 600;
    padding: 1.5vw 3vw;
    margin-top: 2vh;
  }

  .circles{
    margin-left: 3vw;
  }

  .gradient-circle, .profile-image{
    height: 23vw;
    width: 23vw;
  }

  .profile-image{
    border-width: 2px;
  }

  .recent{
    font-size: 1.3rem;
    margin-top: 10vh;
  }

  .details-box{
    padding-left: 10vw;
  }

  .profile-name{
    font-size: 130%;
  }

  .profile-email{
    font-size: 70%;
  }

  .profile-icons{
    margin-bottom: 3vh;
  }

  .profile-icons .icon{
    margin-left: 2vw;
  }

  .profile-edit{
    width: 44vw;
    border-width: 1px;
  }

  .colored-btn{
    border-width: 1px;
    border-radius: 5px;
    font-size: 75%;
  }

  .crown{
    top: -2vw;
    left: -2vw;
  }
}
